# copy of mac /usr/local/lib and /usr/local/include of freeimage and Magick++
extras.zip

# Mac exclude
.DS_Store
git-notes.txt
/DerivedData
/*/project.xcworkspace/
/*/xcuserdata/
*.xcuserstate

# Windows VisualStudio
.ipch/
.vs/
.obj
.exe
